html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #2274a5;
}
canvas {
  display: block;
}
#buttonList {
  padding: 0 2em;
  display: grid;
}
button {
  font-size: 5em;
  padding: 5vh;
  outline: none;
  border: 2px solid #2274a5;
  color: #2274a5;
}
h1 {
  text-align: left;
  font-size: 10vw;
  margin: 0;
}
p {
  font-size: 3.5vw;
}
#instructions {
  text-align: left;
  padding: 2em;
  margin-top: 0;
}
#warning {
  color: #d90368;
}
#p5_loading {
  margin: 2em auto;
  width: 0;
  font-size: 5vh;
  height: 10vh;
  background-color: #d90368;
  border: 2px solid pink;
  transition: width 0.1s;
}
#enableAudio {
  text-decoration: line-through;
}
